<div class="form-login">
    <img src="../../../assets/images/login.svg" alt="">
    <div class="linha-vertical"></div>
    <form >
      <h2>Login</h2>
      <div class="row">
        <div class="col">
          <input class="form-control" type="text" placeholder="E-mail" formControlName="email">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="form-control" type="password" placeholder="Senha" formControlName="password">   
        </div>
      </div>
      <div class="row">
        <div class="col">
 
          <div class="buttons">
            <button class="btn" >ENTRAR</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer>
    <h3>Todos os direitos reservados @YasminVerderame</h3>
  </footer>