<div class="pagamento">
    <img src="../../../assets/images/undraw_credit_card_payments_re_qboh.svg" alt="">
    <form>
        <div class="row">
            <div class="col-md-6">
               <label for="">Número do cartão*</label>
                <input class="form-control" type="text" placeholder="0000 0000 000 0000">
            </div>
            <div class="col-md-3">
                <label for="">Validade*</label>
                <input class="form-control" type="text" placeholder="00/00">
            </div>
            <div class="col-md-3">
              <label for="">CVV*</label>
              <input class="form-control" type="text" placeholder="000">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <label for="">Nome do titular*</label>
              <input class="form-control" type="name" placeholder="Nome">
            </div>
            <div class="col-md-6">
                <label for="">CPF*</label>
                <input class="form-control" type="text" placeholder="000.000.000-00">
              </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <label for="">CEP*</label>
              <input class="form-control" type="number" placeholder="00000-000">
            </div>
            <div class="col-md-6">
                <label for="">Endereço*</label>
                <input class="form-control" type="name" placeholder="">
              </div>
        </div>
        <br>
        <div class="buttons">
          <div class="checkbox">
              <input type="checkbox" id="" > 
              <label class="label-checkbox">Ao clicar em Concluir, você concorda com os termos de privacidade</label>
          </div>
          <button>Concluir</button>
        </div>
    </form>
</div>
<footer>
    <h3>Todos os diretos reservados por @YasminVerderame</h3>
</footer>
